.fontcheck {
    font-size: 1.5rem;
    color: rgb(231, 231, 231);
 
  }
  .select-content{
   
    padding: 10px;
  }

.button {
    font-size: xx-large; 
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    outline-width: 0;
    border: none;
    background-color: rgb(221, 76, 76);
    padding-left: 15px;
    padding-right: 15px;
   
}

#myTextArea{
  font-size: large;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 5px;
}


.dialog-box{
    position: absolute;
    background-color: rgba(144, 144, 144, 0.863);
    color: white;
    font-size: 2rem;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
}
::selection{
    color: white;
    background: rgba(2, 219, 129, 0.945);
}
  